.div_principal{
    border-radius: .4rem;
    border-color: #8a2be2;
    padding: .5rem;

}

.div_principal > h2{
    color: green;
    font-weight: 600;
}

.div_secundario{
    border-color: violet;
    padding: .5rem;
}

.div_secundario >h3{
    color: darkred;
    line-height: .6rem;
}

.cabecera{
    width: 100%;
    height: 10px;
    background: yellow;
}